.carousel-item img {
    height: 150px;
  }
#desc{
    text-align: center;
}
#carrusel{
    position: relative;
    text-align: center;

}

#searchbar{
    background-color: lightblue;
}

.background-container {
  background-image: url('/imagenes/menu/FondoPagina.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}